#first{
    background-color: aqua;
}
.bg-blue{
    background-color: rgb(25, 118, 200);
    color: rgb(236, 226, 226);
}

*{
    margin: 0;
    padding: 0;
}
.red{
    background-color: rgb(121, 189, 18);
color: aliceblue;
height: 390px;
}

.green{
    background: rgb(190, 60, 175);
    color: rgb(7, 55, 55);
}